# Build directories
build/*
dist/*
public/*
**/out/*
**/.next/*
**/node_modules/*

# src/
**/reportWebVitals.*
**/service-worker.*
**/serviceWorkerRegistration.*
**/setupTests.*

# eslintrc
**/.eslintrc.*

# prettier
**/.prettier.*
**/prettier.config.*

# next
**/next.config.*

# vite
**/vite.config.*

# tailwind
**/postcss.config.*
**/tailwind.config.*

# craco
**/craco.config.*

# misc
**/jsconfig.json

# storybook
.storybook/*
**/*.stories.tsx
storybook-static/*

# playwright
e2e/*
playwright.config.ts
test-results/*
playwright-report/*

# vitest
**/*.test.ts
vitest.config.ts
